<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('navbar', { links }) %>
  <h2>Create a message</h2>
  <form method="post" action="/new">
    <label for="author">
      Author:
      <input id="author" name="author" type="text">
    </label>
    <label for="message">
      Message:
      <input id="message" name="message" type="text">
    </label>
    <button type="submit">SUBMIT</button>
  </form>
  <%- include('footer') %>
</body>
</html>