<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>
<body>
  <%- include('navbar', { links }) %>
  <h1>Messages</h1>
  <% if (messages.length <= 0) { %>
    <h2>No Messages Yet</h2>
  <% } else { %>
    <ul>
      <% messages.forEach(message => { %>
        <li>
          <h3>
            FROM: <%= message.user %>
            <span style="margin-left: 1rem;">
              <a href="/messages/<%=message.id %>">OPEN</a>
            </span>
          </h3>
        </li>
      <% }) %>
    </ul>
  <% } %>
  <%- include('footer') %>
</body>
</html>