<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>
<body>
  <%- include('navbar', { links }) %>
  <h1>Messages</h1>
  <% if (messages.length <= 0) { %>
    <h2>No Messages Yet</h2>
  <% } else { %>
    <ul>
      <% messages.forEach(message => { %>
        <li>
          <h3><%= message.text %></h3>
          <p>from: <%= message.user %></p>
          <p>on: <%= message.added %></p>
        </li>
      <% }) %>
    </ul>
  <% } %>
</body>
</html>